<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">Back</ion-button>
       <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title>Track Order</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <!-- Background Image -->
  <div class="track-container">

    <div class="order-card" *ngIf="booking">

  <h2>Order #{{ booking.id }}</h2>

  <p>
    Service: {{ booking.serviceType }}
  </p>

  <p>
    Customer: {{ booking.customerName }}
  </p>

  <p>
    Status: {{ booking.status }}
  </p>

  <p *ngIf="booking.technicianName">
    Technician: {{ booking.technicianName }}
  </p>

</div>
    <!-- Timeline -->
    <div class="timeline" *ngIf="booking">

  <!-- STEP 1 -->
  <div class="step" [ngClass]="getStepClass(1)">
    <div class="circle"></div>
    <div class="label">Assigned</div>
  </div>

  <!-- STEP 2 -->
  <div class="step" [ngClass]="getStepClass(2)">
    <div class="circle"></div>
    <div class="label">In Transit</div>
  </div>

  <!-- STEP 3 -->
  <div class="step" [ngClass]="getStepClass(3)">
    <div class="circle"></div>
    <div class="label">Completed</div>
  </div>

</div>
    </div>

 

</ion-content>