<ion-content>

  <div class="register-container">

    <div class="logo-section">
      <h1>Create Account</h1>
      <p>Join us and book services easily</p>
    </div>

    <div class="form-card">

      <ion-item>
        <ion-input
          label="Full Name"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Mobile Number"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="email"
          label="Email"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          label="Create Password"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          label="Confirm Password"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="register-btn">
        Register
      </ion-button>

      <ion-button
        fill="clear"
        expand="block"
        routerLink="/customer-login">
        Already have an account? Login
      </ion-button>

    </div>

  </div>

</ion-content>