<ion-header>
  <ion-toolbar class="header-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="ac-bg">

  <div class="service-container">

    <div class="service-box" *ngFor="let service of services">

      <ion-checkbox [(ngModel)]="service.selected"></ion-checkbox>

      <img [src]="'assets/icons/' + service.icon" class="service-icon">

      <span class="service-name">{{service.name}}</span>

    </div>

  </div>

  <!-- COMPLAINT BOX -->

  <div class="complaint-box">

    <ion-label class="complaint-label">Raise an AC Complaint</ion-label>

    <ion-textarea
      [(ngModel)]="complaintText"
      placeholder="Describe your AC issue here..."
      auto-grow="true"
      class="complaint-textarea">
    </ion-textarea>

  </div>

  <!-- Add to cart -->

  <ion-button expand="block" class="cart-btn" (click)="addToCart()">
    🛒 Add To Cart
  </ion-button>

  <!-- Selected Services -->

  <div class="cart-board" *ngIf="cart.length > 0">

    <h3>Selected AC Services</h3>

    <div *ngFor="let item of cart" class="cart-item">
      {{item.name}}
    </div>

  </div>

  <!-- Book Service -->
   <ion-button
  expand="block"
  class="ac-btn"
  [routerLink]="['/tabs/saved-address']"
  [queryParams]="{
    service: getSelectedServices(),
    complaint: complaintText
  }">

  ❄️ Book AC Service

</ion-button>
</div> <!-- ✅ THIS WAS MISSING -->



  
</ion-content>