<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <img src="assets/icons/home.jpg" class="tab-icon">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="booking">
      <img src="assets/icons/booking.jpg" class="tab-icon">
      <ion-label>Booking</ion-label>
    </ion-tab-button>

   <ion-tab-button (click)="openWhatsApp()">
  <img src="assets/icons/whatsapp.png" class="tab-icon">
  <ion-label>Chat</ion-label>
</ion-tab-button>

    <ion-tab-button tab="account">
      <img src="assets/icons/account.jpg" class="tab-icon">
      <ion-label>Account</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>