<ion-content>

  <div class="login-container">

    <div class="logo-section">
      <h1>Technician Login</h1>
      <p>Access Assigned Jobs</p>
    </div>

    <div class="form-card">

      <ion-item>
        <ion-input
          label="Mobile Number"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          label="Password"
          labelPlacement="floating">
        </ion-input>
      </ion-item>

      <ion-button
             expand="block"
             routerLink="/technician-dashboard">
               Login
      </ion-button>

    </div>

  </div>

</ion-content>