<ion-content>

  <div class="login-container">

    <div class="logo-section">
      <h1>Technician Login</h1>
      <p>Access Assigned Jobs</p>
    </div>

    <div class="form-card">

      <ion-item>
        <ion-input
          type="email"
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          label="Password"
          labelPlacement="floating"
          [(ngModel)]="password">
        </ion-input>
        <ion-icon
          slot="end"
          [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
          (click)="togglePassword()"
          style="cursor:pointer; margin-top: 16px;">
        </ion-icon>
      </ion-item>

      <ion-button
        expand="block"
        (click)="login()">
        LOGIN
      </ion-button>

    </div>

  </div>

</ion-content>