<ion-content class="ion-padding">

  <div class="login-container">

    <h1>Customer Login</h1>

    <ion-item>
      <ion-input
        label="Mobile Number"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        label="Password"
        labelPlacement="floating">
      </ion-input>
    </ion-item>

   <ion-button
  expand="block"
  routerLink="/tabs/home">
  Login
</ion-button>

    <ion-button
  fill="clear"
  expand="block"
  routerLink="/customer-register">
  New User? Register Here
</ion-button>
  </div>

</ion-content>