<ion-header>
  <ion-toolbar class="no-shadow-header">

    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-buttons slot="start">
      <ion-button (click)="goBack()">Back</ion-button>
       <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    </ion-buttons>

    <ion-title class="header-title">Booking History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="history-container">

    <div *ngFor="let item of bookings" class="history-card">

      <div class="service">{{ item.service }}</div>

      <div class="date">{{ item.date }}</div>

      <div 
        class="status"
        [ngClass]="{
          'completed': item.status === 'Completed',
          'cancelled': item.status === 'Cancelled'
        }"
      >
        {{ item.status }}
      </div>

    </div>

  </div>

</ion-content>