<ion-header>
  <ion-toolbar class="no-shadow-header">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title class="header-title">Booking History</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="history-container">

    <div *ngFor="let item of bookings" class="history-card">

  <div class="service">
    {{ item.serviceType }}
  </div>

  <div class="date">
    {{ item.bookingDate | date:'dd-MMM-yyyy' }}
  </div>

  <p *ngIf="item.technicianName">
    <strong>Technician:</strong>
   <p>
  Technician: {{ item.technicianName }}

  </p>

  <div
    class="status"
    [ngClass]="{
      'completed': item.status === 'Completed',
      'cancelled': item.status === 'Cancelled'
    }">
    Status: {{ item.status }}
  </div>

</div>

  </div>

</ion-content>