<ion-header>
  <ion-toolbar class="no-shadow-header">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title class="header-title">Saved Address</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>

      <!-- Full Name -->
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input [(ngModel)]="address.name"></ion-input>
      </ion-item>

      <!-- Address Line 1 -->
      <ion-item>
        <ion-label position="floating">Address Line 1</ion-label>
        <ion-input [(ngModel)]="address.line1"></ion-input>
      </ion-item>

      <!-- Address Line 2 -->
      <ion-item>
        <ion-label position="floating">Address Line 2</ion-label>
        <ion-input [(ngModel)]="address.line2"></ion-input>
      </ion-item>

      <!-- Address Line 3 -->
      <ion-item>
        <ion-label position="floating">Address Line 3</ion-label>
        <ion-input [(ngModel)]="address.line3"></ion-input>
      </ion-item>

      
      <!-- Pin Code -->
<ion-item>
  <ion-label position="floating">Pin Code</ion-label>
  <ion-input
    type="number"
    maxlength="6"
    [(ngModel)]="address.pin">
  </ion-input>
</ion-item>
<p class="pin-note">
  Supported Areas: 576104, 576101, 576102, 576103, 576105, 576108, 576213
</p>

      <!-- Phone -->
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="tel" [(ngModel)]="address.phone"></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="address.email"></ion-input>
      </ion-item>

      <!-- Share Location -->
      <ion-button expand="block" fill="outline" class="location-btn">
        📍 Share Service Location
      </ion-button>

      <!-- Save -->
      <ion-button expand="block" (click)="saveAddress()">
        Save Address
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>